# ignore class files and text file
*.class
*.class~
*_solved.txt
*_output.txt

# ignore subdirectories where we are saving puzzles
*puzzles*/
*solutions*/
.DS_Store

# ignore intelli-j created files.
.idea/
*.iml

# ignore visual studios stuffs
*.sdf

# ignore all text files
/*/*.txt
